<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <title><%= title %> | Motors</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <%- include("../partials/header") %>
    <nav>
      <%- include("../partials/nav", { nav: nav }) %>
    </nav>
  </header>

  <main>
    <%- body %>
  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>
</html>
